DJANGO_SECRET_KEY=troque-esta-chave-por-uma-chave-secreta-forte
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=gestaoluizzanchim.pythonanywhere.com,localhost,127.0.0.1,192.168.202.20,seu-dominio.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://gestaoluizzanchim.pythonanywhere.com,http://localhost,http://localhost:8000,http://127.0.0.1,http://127.0.0.1:8000,http://192.168.202.20,http://192.168.202.20:8000,https://seu-dominio.com.br
DJANGO_USE_HTTPS_SECURITY=False

TWILIO_ACCOUNT_SID=
TWILIO_API_KEY_SID=
TWILIO_API_KEY_SECRET=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
